@import '../../../../main.scss';

.what-we-offer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 12rem;
  width: 100vw;
  @include desktopXLPaddingLR;

  @include desktop {
    @include desktopPaddingLR;
  }

  @include mobile {
    padding: 1.5rem 1rem;
  }

  &-cards {
    width: 100%;
    margin-top: 2.5rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    @include mobile {
      margin-top: 1.5rem;
    }
  }

  &-title {
    text-align: center;
  }
}
