@import './mediaQueries';

@mixin button {
  font-size: 16px;
  line-height: 25px;
  font-weight: 700;
  color: white;
  border-radius: 25px;
  padding: 7px 40px;
  border: none;
  font-family: 'Poppins';
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  width: fit-content;

  @include tablet {
    font-size: 14px;
  }
}

.btn {
  &-primary {
    @include button;
    background: $Primary;

    &:hover {
      background-color: $PrimaryDark;
    }
  }

  &-secondary {
    @include button;
    border: 2px solid $Primary;
    background: white;
    color: $Primary;
    font-weight: 400;
  }

  &-tertiary {
    @include button;
    background: $Complementary;
  }

  &-gradient {
    @include button;
    background: radial-gradient(
      100% 1396.4% at 100% 50%,
      $GradientBlue 0%,
      $GradientGreen 100%
    );
  }

  &-nav {
    @include button;
    font-weight: 400;
    color: $Black;
    background-color: transparent;
    padding: 10px 16px;
    text-decoration: none;

    &:hover {
      color: $Primary;
    }

    @include mobile {
      font-size: 16px;
      margin: 0.5rem 0;
    }
  }
}
