$Primary: #5ac3bd;
$Complementary: #ff6b6b;

$PrimaryDark: #4eaaa5;
$PrimaryLight: #e6f5f2;
$NeutralBg: #f8f4f2;

$OffWhite: #f9f9f9;
$Grey: #9ea0a0;
$DarkGrey: #5a5959;
$LightGrey: #dee8e9;
$Black: #0f2726;

// Gradient
$GradientBlue: #1dcaf0;
$GradientGreen: #0ee2bc;
