@import './colors', './mediaQueries';

input {
  padding: 7px 16px;
  color: $Grey;
  border: 1px solid $Grey;
  background: white;
  border-radius: 25px;
  width: 100%;
  margin: 5px;

  &:hover {
    border-color: $DarkGrey;
  }

  &:focus {
    border-color: $Primary;
    outline: none;
  }
}

@mixin label {
  background: white;
  position: absolute;
}

.label {
  @include label();
  color: $Grey;

  &-green {
    @include label();
    color: $Primary;
  }

  &-error {
    @include label();
    color: $Primary;
  }
}

textarea {
  padding: 12px 16px;
  color: $Grey;
  border: 1px solid $Grey;
  background: white;
  border-radius: 25px;
  width: 100%;
  margin: 1rem 0;
  height: 150px;
  resize: none;
  overflow-y: scroll;

  &:hover {
    border-color: $DarkGrey;
  }

  &:focus {
    border-color: $Primary;
    outline: none;
  }
}
